button{
    background-color: #3F51B5;
    color: white;
}
mat-form-field{
    margin: auto;
    display: block;
    padding: 0;
    margin-top: 1%;
    margin-bottom: 0;
    width: 90%;
}
.add{
    background-color: #09af00;
    color: white;
}
form{
    margin: auto;
    width: 90%;
}
button{
    margin-top: 1%;
    margin-bottom: 1% 
}