<div style="margin-top: 2%; margin-right: 2%" class="container">
  <button class="btn danger-color btn-sm pull-left" (click)="backClicked()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </button>
</div>
<mat-card id="edit-project-card">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nuevo nombre">
  </mat-form-field>
  <mat-list role="list">
    <h3 class="text-center">Investigaciones</h3>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      Investigación 1
      <div class="actions-container">
        <button class="delete-btn" mat-icon-button color="primary">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      Investigación 2
      <div class="actions-container">
        <button class="delete-btn" mat-icon-button color="primary">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      Investigación 3
      <div class="actions-container">
        <button class="delete-btn" mat-icon-button color="primary">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  
  <div *ngIf="state" class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
      </mat-form-field>
    </div>
  
    <mat-table #table [dataSource]="dataSource">  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
  
      <!-- LastName Column -->
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef> Apellidos </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
      </ng-container>
  
      <!-- ProjectCount Column -->
      <ng-container matColumnDef="projectCount">
        <mat-header-cell *matHeaderCellDef> Cantidad de Proyectos </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.projectCount}} </mat-cell>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button (click)="addMember(element); false">Agregar</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator #paginator
        [pageSize]="7"
        [pageSizeOptions]="[5, 10, 20]"
        [showFirstLastButtons]="true">
    </mat-paginator>
  </div>

  <div *ngIf="state" class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
      </mat-form-field>
    </div>
  
    <mat-table #table [dataSource]="dataSource">  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
  
      <!-- LastName Column -->
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef> Apellidos </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
      </ng-container>
  
      <!-- ProjectCount Column -->
      <ng-container matColumnDef="projectCount">
        <mat-header-cell *matHeaderCellDef> Cantidad de Proyectos </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.projectCount}} </mat-cell>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button (click)="addMember(element); false">Agregar</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator #paginator
        [pageSize]="7"
        [pageSizeOptions]="[5, 10, 20]"
        [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</mat-card>