<mat-card class="container" >
    <button mat-mini-fab routerLink='/show-blog'style="background-color: transparent; color: black; float: left;">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
<label>Create blog</label>
<hr>
<div>
    <button mat-button class="font-config" id="add-btn" (click)='openDialogThematic()' >Thematic
        <mat-icon>add</mat-icon>
    </button>
</div>
<hr>
<button mat-button class="font-config" id="add-btn" type="submit" >Modify
<mat-icon>near_me</mat-icon>
</button>
</mat-card>