<mat-toolbar class="toolbar">
    <mat-list class="list" role="list">
        <mat-list-item class="header-li" role="listitem">
            <button mat-raised-button>Visualizar Proyectos</button>
        </mat-list-item>
        <mat-list-item class="header-li" role="listitem">            
            <button mat-raised-button>
                <i class="material-icons">plus_one</i>
            </button>
        </mat-list-item>
    </mat-list>
</mat-toolbar>
            
<div class="container">
  <router-outlet></router-outlet>
</div>