<mat-toolbar class="toolbar">
    <mat-list class="list" role="list">
        <mat-list-item class="header-li" role="listitem">
            <button mat-raised-button>Proyectos</button>
        </mat-list-item>
        <mat-list-item class="header-li" role="listitem">            
            <button class="font-config" id="add-btn" mat-raised-button>
                Agregar Proyecto
            </button>
        </mat-list-item>
    </mat-list>
</mat-toolbar>
            
<div class="container">
  <router-outlet></router-outlet>
</div>