mat-form-field{
    margin: auto;
    display: block;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 90%;
}

ol{
    list-style-type: none;
    padding: 0;
    text-align: center
}
.mat-table {
    display: table;
    width: 100%;
    padding: 1%;

    > .mat-header-row, > .mat-row {
        display: table-row;
        padding: 0;
        border: none;

        > .mat-header-cell, > .mat-cell {
            display: table-cell;
            height: 48px;
            vertical-align: middle;
            text-align: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        }
    }
}