<div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
    </mat-form-field>
  </div>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">  
    <!-- Selection Column -->
    <ng-container matColumnDef="selection">
      <mat-header-cell *matHeaderCellDef> Selección </mat-header-cell>
      <mat-cell *matCellDef="let row"> 
        <mat-checkbox (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="inv_name">
      <mat-header-cell *matHeaderCellDef> Nombre Investigación </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.inv_name}} </mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="inv_description">
      <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.inv_description}} </mat-cell>
    </ng-container>

    <!-- Members Column -->
    <ng-container matColumnDef="inv_members">
      <mat-header-cell *matHeaderCellDef> Miembros </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <ol style="list-style-type: none; text-align: center; padding: 0">
          <li *ngFor="let m of element.inv_members">
            {{m.name}} {{m.lastName}} 
          </li>
        </ol>
      </mat-cell>
    </ng-container>

    <!-- Starte Date Column -->
    <ng-container matColumnDef="inv_start_date">
      <mat-header-cell *matHeaderCellDef> Fecha Inicio </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.inv_start_date | date}}</mat-cell>
    </ng-container>

    <!-- Finish Date Column -->
    <ng-container matColumnDef="inv_finish_date">
      <mat-header-cell *matHeaderCellDef> Fecha Inicio </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.inv_finish_date | date}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></mat-row>
  </mat-table>
</div>
<mat-paginator #paginator
      [pageSize]="15"
      [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true">
  </mat-paginator>
<mat-list class="added" *ngIf="addedMembers.length !== 0">
  <mat-list-item *ngFor="let am of addedMembers">
    {{am}}
  </mat-list-item>
</mat-list>
