<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
  </mat-form-field>
</div>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">  
    <!-- Selection Column -->
    <ng-container matColumnDef="selection">
      <mat-header-cell *matHeaderCellDef> Selección </mat-header-cell>
      <mat-cell *matCellDef="let row"> 
        <mat-checkbox (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- LastName Column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Apellidos </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>

    <!-- ProjectCount Column -->
    <ng-container matColumnDef="projectCount">
      <mat-header-cell *matHeaderCellDef> Cantidad de Proyectos </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.projectCount}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></mat-row>
  </mat-table>
</div>
<mat-paginator #paginator
    [pageSize]="15"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="true">
</mat-paginator>
<mat-list class="added" *ngIf="addedMembers.length !== 0">
  <mat-list-item *ngFor="let am of addedMembers">
    {{am}}
  </mat-list-item>
</mat-list>
