<div style="margin-top: 2%; margin-right: 2%" class="container">
  <button class="btn danger-color btn-sm pull-left" (click)="backClicked()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </button>
</div>
<mat-card id="create-project-card">
  <form class="container">
    <mat-form-field>
        <input matInput placeholder="Nombre del proyecto">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Propuesta">
        <mat-option *ngFor="let p of proposal" [value]="p">
          {{ p }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Agregar Investigación">
        <mat-option *ngFor="let i of investigations" [value]="i">
          {{ i }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Agregar referencia">
        <mat-option *ngFor="let r of references" [value]="r" (click)="addReference(r)">
          {{ r }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-list *ngIf="addedReferences.length !== 0" class="added">
      <mat-list-item *ngFor="let ar of addedReferences">
        {{ar}}
      </mat-list-item>
    </mat-list>
    <button id="add-members" mat-button (click)="onAddMembersClick()">
      Añadir Miembros
      <mat-icon>add</mat-icon>
    </button>
  </form>
</mat-card>
