form{
    margin: auto;
    width: 80%;
    text-align: center
}
input{
    width: 70%;
    margin: auto
}
.input-container{
    width: 80%;
    margin-top: 4%
}
ul{
    color: white
}
#actions-container{
    text-align: right;
    margin: auto;
    margin-right: 0;
    width: 100%
}
#user-admin-container {
    background-color: beige;
    width: 100%;
}
#user-search{
    margin-left: 50%;
    background-color: coral;
}
#mat-card-search{
    padding: auto;
    margin-left: 30%;
    margin-right: 30%;
}


