<mat-card class="container" >
    <button mat-mini-fab routerLink='/show-proposals'style="background-color: transparent; color: black; float: left;">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <label>Create proposal</label>
    <hr>
    <div>
        <mat-form-field>
            <input matInput type="text" placeholder="Name of the proposal"> 
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
                <textarea matInput placeholder="Description" matTextareaAutosize
                        matAutosizeMinRows="1"
                        matAutosizeMaxRows="4"></textarea>
        </mat-form-field>
    </div>
    <div>
        <button mat-button class="font-config" id="add-btn" (click)='openDialogThematic()' >Thematic
            <mat-icon>add</mat-icon>
        </button>
        <button mat-button class="font-config" id="add-btn" style="margin-left: 2%" (click)='openDialogMember()'>Proponents
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <hr>
    <button mat-button class="font-config" id="add-btn" type="submit" >Modify
    <mat-icon>near_me</mat-icon>
    </button>
</mat-card>