button{
    background-color: #90A4AE;
    color: white;

}
mat-card{
    background-color: beige;
    width: 50%;
    margin: auto;
    margin-top: 7%;
    text-align: center;
    border-radius: 10px;
}
