.toolbar {
    margin: auto;
    width: 50%;
    background: transparent    
}
.list{
    list-style-type: none;
    text-align: center;
    margin: auto
}
.header-li {
    display: inline-block;
    margin: auto
}
#add-btn{
    background-color: #00C853;
    color: white
}
.font-config{
    font-size: 15px;
    border-radius: 5px
}