<mat-toolbar class="toolbar">
    <mat-list class="list" role="list">
        <mat-list-item class="header-li" role="listitem">
            <button mat-button [routerLink]="['show-users']">Users</button>
        </mat-list-item>
        <mat-list-item class="header-li" role="listitem">            
            <button mat-button class="font-config" [routerLink]="['create-user']" >
                Agregar User 
                <mat-icon>person_add</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
</mat-toolbar>
            
<div class="container">
    <router-outlet></router-outlet>
</div>
    