<mat-toolbar class="toolbar">      
        <mat-list class="list" role="list">
            <mat-list-item class="header-li" role="listitem">
                <button mat-button class="font-config" [routerLink]="['show-users']">Users
                    <mat-icon>search</mat-icon>
                </button>   
            </mat-list-item>
            <mat-list-item class="header-li" role="listitem">            
                <button mat-button class="font-config" [routerLink]="['create-user']" >
                    Add User 
                    <mat-icon>person_add</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>     
</mat-toolbar>
<hr>
<div class="container">
    <router-outlet></router-outlet>
</div>
   