.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#sidenav-list{
    width: 300px
}
.credit{
    position: absolute;
    bottom: 0;
}
hr{
    margin-top: 0;
    margin-bottom: 0
}
mat-list-item:hover{
    cursor: pointer;
    background-color: indigo;
    color: white
}
#logo-tec{
    width: 280px;
    height: 160px;
}
.list-p{
    margin: auto
}
.list-item-back{
    background-color: #FAFAFA
}