<button mat-fab [routerLink]="['/create-proposal']" color="primary" id="add-btn" >
    Add 
</button>

<mat-card id="search-proposal-card">
    <mat-form-field class="input-container">
        <input matInput placeholder="Search Proposal">
    </mat-form-field>
    <button mat-icon-button color="primary">
        <mat-icon aria-label="Example icon-button with a heart icon">search</mat-icon>
    </button>
</mat-card>
    
<div id="proposal-admin-container" class="container card">
    <mat-list style="width: 100%; padding: 0; margin-bottom: 1%">
        <mat-list-item class="card" style="font-size: 15px; margin-top: 1%;">
            <div>
                Proposal 1
            </div>
            <div id="actions-container">
                <button mat-icon-button id="view-btn" (click)="openDialogDetailsProposal()">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button id="edit-btn" (click)="openDialogModifyProposal()">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button id="delete-btn" (click)="openDialogDeleteProposal()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-list-item>
        <mat-list-item class="card" style="font-size: 15px; margin-top: 1%;">
                <div>
                    Proposal 1
                </div>
                <div id="actions-container">
                    <button mat-icon-button color="primary">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button mat-icon-button color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-list-item>
            <mat-list-item class="card" style="font-size: 15px; margin-top: 1%;">
                    <div>
                        Proposal 1
                    </div>
                    <div id="actions-container">
                        <button mat-icon-button color="primary">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-icon-button color="primary">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
                <mat-list-item class="card" style="font-size: 15px; margin-top: 1%;">
                        <div>
                            Proposal 1
                        </div>
                        <div id="actions-container">
                            <button mat-icon-button color="primary">
                                <mat-icon>visibility</mat-icon>
                            </button>
                            <button mat-icon-button color="primary">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </mat-list-item>
    </mat-list>
</div>