button{
    background-color: #90A4AE;
    color: white;

}
mat-card{
    background-color: beige;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%; 
    text-align: center;
    border-radius: 10px;
}