<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
  </mat-form-field>
</div>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="studyArea">
      <mat-header-cell *matHeaderCellDef> Study Area </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.studyArea}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="proposal">
      <mat-header-cell *matHeaderCellDef> proposal </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.proposal}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="blog">
      <mat-header-cell *matHeaderCellDef> Blog </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.blog}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="selection.toggle(row)">
    </mat-row>
  </mat-table>
</div>
<mat-paginator #paginator
    [pageSize]="15"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="true">
</mat-paginator>