button{
    background-color: #3F51B5;
    color: white;

}
mat-card{
    background-color: #E8EAF6;
    width: 50%;
    margin: auto;
    margin-top: 7%;
    text-align: center;
    border-radius: 10px;
}

